spring:
  datasource:
    url: jdbc:h2:file:~/aynodb;AUTO_SERVER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  config:
    import: classpath:application-swagger.yml

jwt:
  secret: "Tm1yfUw5S1MvW2BAX2ZmYmMrV08mTzE4eEZqfWRSKlt2VVA3Wy5hUy1iZF9SWXJ3MTUpcSs0XzoqIV5edWw+"